<a href="https://colab.research.google.com/github/JadeWKA/day-2-warmup/blob/main/day2warmup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Using the Slice Syntax

In [11]:
text = 'Hello World'
#Define texr
sliced_text = slice(5)
# get slice object to slice Python
print(text[sliced_text])
#print sliced text

Hello

In [12]:
s = "Hello World" # initial string
stringlength=len(s) # calculate length of the list
slicedString=s[stringlength::-1] # slicing 
print (slicedString) # print the reversed string

dlroW olleH

Using the input() function

In [13]:
greeting = "hello"
name = input("What's your name? ")
stringlength=len(name) # calculate length of the list
slicedString=name[stringlength::-1] # slicing 
print (slicedString) # print the reversed string

What's your name? Jade
edaJ

In [14]:
greeting = "hello"
#initialize greeting
name = input("What's your name? ")
#initialize name to input
print("Hello, " + name + "! How are you?")
#print sentence

What's your name? Jade
Hello, Jade! How are you?

In [38]:
a = 0.5
b = 'K'
c = 1

print(a,'is of type:',type(a))
print(b,'is of type:',type(b))
print(c,'is of type:',type(c))

0.5 is of type: <class 'float'>
K is of type: <class 'str'>
1 is of type: <class 'int'>

Perform algebraic operations

In [18]:
a = 2
b = 4

#initializing a and b values

print(a + b)
#print a + b

6

In [21]:
import math
#import math
a = 1
b = 2
c = 3
d = 4
e = 5
#initialize a b c d e
print(math.sqrt(a))
print(math.sqrt(b))
print(math.sqrt(c))
print(math.sqrt(d))
print(math.sqrt(e))
#print out the square root of 5 numbers

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979

In [25]:
a = 1
b = 2
c = 3
d = 4
e = 5
#initialize a b c d e
print(e // a)
print(d // b)
print(c // b)
print(b // a)
print(a // b)

#print out the whole number of 5 divisions

5
2
1
2
0

Lists and Arrays

In [26]:
list_a = ["apple", "banana", "cherry"]
list_b = ["pen", "eraser"]
list_c = list_a + list_b
print(list_c)

['apple', 'banana', 'cherry', 'pen', 'eraser']

In [32]:
import array as arr

a = arr.array('i', [1, 2, 3])
b = arr.array('i', [4, 5, 6])

c = a + b
print(c)

array('i', [1, 2, 3, 4, 5, 6])

Converting Objects

In [34]:
a = 5
print(a,'is of type:',type(a))

a = float(a)
print(a,'is of type:',type(a))

def convert(s):
  
    # initialization of string to ""
    new = ""
  
    # traverse in the string 
    for x in s:
        new += x 
  
    # return string 
    return new
      
      
s = ['h', 'e', 'l', 'l', 'o']
print(convert(s))

5 is of type: <class 'int'>
5.0 is of type: <class 'float'>
hello

In [36]:
phrase = "Concatenation is taking a string and appending another string into it. "

print(phrase.upper() + "\n")

#upper case

CONCATENATION IS TAKING A STRING AND APPENDING ANOTHER STRING INTO IT.

In [41]:
a = "Python"

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[5])

P
y
t
h
o
n

In [42]:
list_a = ["apple", "banana", "cherry"]

print(list_a[0])

apple